{% extends "layout.njk" %}

{% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
    <section>
        <div class="wrapper">
            <div class="wrapper-container">
                <div class="wrapper-content">
                    <h1>The best recipes</h1>
                    <p>
                        Learn how to build the best dishes
                        with recipes created by professionals
                        Worldwide.
                    </p>
                </div>

                <div class="wrapper-image">
                    <img src="/chef.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="cards-section">
        <h1 class="cards-title">Most accessed</h1>

        <div class="cards">
            {% for item in items %}
                <div class="card" id="{{item.id}}">
                    <div class="card-image-container">
                        <img src="{{item.image}}" alt="">
                    </div>
        
                    <div class="card-content">
                        <h1>{{item.title}}</h1>
                        <p>by {{item.author}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <script src="/scripts.js"></script>
{% endblock %}