@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

main {
    max-width: 900px;
    margin: 0 auto;
    animation: aside 1s ease-in-out .2s;
}

@keyframes aside {
    0% {
        transform: translateX(-50px);
    }
    
    100% {
        transform: translateX(0);
    }
}

.home-page {
    width: 100%;
    margin: 0 auto;
    padding: 32px 0;
}

.home-page nav {
    width: 80%;
    display: grid;
    grid-template-columns: 0.9fr 1.5fr;
}

.navbar-links ul {
    display: flex;
    align-items: center;
}

.navbar-links ul li {
    margin-right: 28px;
}

.navbar-links ul li:last-child {
    margin-right: 0;
} 

.navbar-links ul li a {
    font-size: 18px;
    line-height: 28px;
    color: #333;
    position: relative;
}

.navbar-links ul li a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #444;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -4px;
}

.navbar-links ul li a:hover {
    color: #444;
    font-weight: bold;
}

.navbar-links ul li a:hover::after {
    content: "";
    width: 100%;
    transition: width 300ms ease-in;
}

.background-home-page {
    display: flex;
    background-color: #FBDFDB;
    border-radius: 28px;
    width: 100%;
    height: 350px;
    position: relative;
}

.background-home-page .content-text {
    position: absolute;
    top: 25%;
    left: 8%;
    min-width: 330px;
}

.background-home-page .content-text h2 {
    font-size: 32px;
    line-height: 42px;
    color: #333;
    margin-bottom: 12px;
}

.background-home-page .content-text p {
    color: #333;
    font-size: 18px;
    line-height: 28px;
    max-width: 350px;
}

.background-home-page .image-chef img {
    position: absolute;
    top: 14%;
    right: 10%;
}

/* ==== card ==== */
.content-recipes {
    padding: 32px 0;
}
.title-one {
    margin-bottom: 32px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: 20px 0;
}

.cards {
    cursor: pointer;
}

.cards:hover {
    border-radius: 12px;
    padding: 8px;
    box-shadow: 3px 3px 18px -4px rgba(0, 0, 0, 0.3);
    transition: padding 200ms ease-in-out;
}

.cards .image-card img {
    width: 100%;
    height: 150px;
    border-radius: 15px;
}

.cards .content-card h3 {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 4px;
    color: #333;
}

.cards .content-card p {
    font-size: 14px;
    font-weight: normal;
    color: #777;
}

/* modal */

.modal-overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
}

.modal {
    margin: 20vh auto;
    width: 660px;
    height: 420px;
    background-color: #fff;
    border-radius: 16px;
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-modal {
    position: absolute;
    bottom: 25px;

    font-size: 18px;
    line-height: 19px;
    color: #555;
    cursor: pointer;
}

/* active */

.modal-overlay.active {
    visibility: visible;
    opacity: 1;
}

.modal {
    position: relative;
}

.content-modal {
    text-align: center;
}

.content-modal img {
    width: 80%;
    border-radius: 12px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.content-modal .content-modal-info {
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
}

.content-modal .content-modal-info .title {
    color: #333;
    font-size: 18px;
    line-height: 19px;
    margin-bottom: 5px;
}

.content-modal .content-modal-info .author {
    color: #777;
    font-size: 14px;
}


/* about */

.about-page {
    padding: 32px 0;
}

.content-about {
    margin-bottom: 18px;
}

.content-about:last-child {
    margin-bottom: 0;
}

.content-about .title-about {
    font-size: 24px;
    line-height: 34px;
    color: #333;
    margin-bottom: 12px;
}

.content-about .description p {
    font-size: 18px;
    line-height: 28px;
    color: #444;
    font-weight: normal;
}

.content-about .description p:first-child {
    margin-bottom: 18px;
}



footer {
    margin-top: 42px;
    text-align: center;
    background-color: #eee;
    padding: 20px;
    width: 100%;
}

.container-footer h2 {
    font-size: 14px;
    font-weight: normal;
    color: #333;
}